.place{
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.info{
	margin-top: 10px;
	padding: 20px 0;
	font-size: 18px;
}

.info::after{
	display: block;
	content: "";

}

.speaker{
	position: absolute;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	font-size: 20px;
	border: 2px solid black;
	top: 50px;
	right: 500px;
}

.body{
	position: relative;
}